.idea/
node_modules/
npm-debug.log
public/bower_components/

#include d3
!public/bower_components/d3/
!public/bower_components/d3/*
!public/bower_components/n3-charts/
!public/bower_components/n3-charts/*
!public/bower_components/n3-line-chart/
!public/bower_components/n3-line-chart/*
!public/bower_components/angular-tooltips/
!public/bower_components/angular-tooltips/*
.gitignore
/*.env
*.DS_Store
