<topnav></topnav>

<div ng-controller="navbarController">
    <div class="sidebar" sidebar-directive="state">
        <ul class="navigation">
            <li class="navigation-items list-header"> KoalaBot Settings </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/KoalaBot/FAQs')};"> <a href="/KoalaBot/FAQs"> <img src="/assets/images/faqs.svg"/> FAQs</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/KoalaBot/Stylize')};"> <a href="/KoalaBot/Stylize"> <img src="/assets/images/stylize.svg"/> Stylize</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/KoalaBot/Announcements')};"> <a href="/KoalaBot/Announcements"> <img src="/assets/images/announcements.svg"/> Announcements</a> </li>
            <li class="navigation-items"> <a href=""> <img src="/assets/images/help.svg"/>Help Me Pweez!</a> </li>
        </ul>
    </div>
</div>

<div class="koalabot_content">
    <h1 class="koalabot_headline"> Hey! I have memorized <strong>{{faqlist.length}}</strong> FAQs! </h1>
    <p class="koalabot_blurb"> KoalaBot can automatically answer questions similar to the following and hold a conversation with your website visitors. When it doesn’t know what to say, it will hand the conversation over to you, and remember your response to that question... </p>

    <div class="faqs_search_add">
        <div class="search_faqs">
            <img src="assets/images/search_circle.svg" alt=""> 
            <input type="text" class="main_box_search" placeholder="Search in your FAQs" ng-model="searchFAQs"/>
        </div>

        <button class="add_faq_btn" ng-click="addFAQ()">{{ addFAQButtonText }}</button>
    </div>

    <div class="faqs_list">
        <div class="faqs_list_item" ng-repeat="faq in faqlist | filter:searchFAQs track by $index" ng-mouseenter="showDelete=true" ng-mouseleave="showDelete=false">
            <textarea elastic-textarea class="faq_question" ng-model="faq.question" placeholder="Write your new FAQ question here..."></textarea>
            <a class="delete_faq" ng-show="showDelete" ng-click="deleteFAQ(faq)"> <img src="assets/images/delete.svg" alt=""> </a>
            <textarea elastic-textarea class="faq_answer" ng-model="faq.answer" placeholder="Type in the answer to this question..."></textarea>
        </div>
    </div>
</div>