<topnav></topnav>

<div ng-controller="navbarController">
    <div class="sidebar" sidebar-directive="state">
        <ul class="navigation">
            <li class="navigation-items list-header"> Profile </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Profile')};"> <a href="/Profile"> <!--<img src="/assets/images/overview.svg"/>--> Overview</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Profile/Billing')};"> <a href="/Profile/Billing"> <!--<img src="/assets/images/billing.svg"/>--> Billing</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Profile/Team')};"> <a href="/Profile/Team"> <!--<img src="/assets/images/team.svg"/>--> Team</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Profile/EmbedCodes')};"> <a href="/Profile/EmbedCodes"> <!--<img src="/assets/images/embedcode.svg"/>--> Embed Codes</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Profile/Notifications')};"> <a href="/Profile/Notifications"> <!--<img src="/assets/images/notifications.svg"/>--> Notifications</a> </li>
            <!--<li class="navigation-items"> <a href=""> <img src="/assets/images/help.svg"/> Help Me Pweez!</a> </li>-->
        </ul>
    </div>
</div>

<div class="koalabot_content">
    <div class="profile_header">
        <img src="assets/images/profile_header.png" />
        <div class="profile_pic" style="background-image: url('{{ profilepic }}');"></div>
        <p class="user_fullname"> {{ ownerName }} </p>
        <p class="user_profile_completion">(Profile {{ profileCompletion }}% complete)</p>
    </div>
    <div class="profile_info">
        <div class="profile_info_col">
            <label class="profile_info_label">Name</label>
            <input type="text" class="profile_info_textbox" value="{{ ownerName }}" style="text-transform: capitalize;"/>

            <label class="profile_info_label">Business Name</label>
            <input type="text" class="profile_info_textbox" placeholder="Type in your Business Name here..." value="{{ businessName }}" />

            <label class="profile_info_label">Business Website</label>
            <input type="text" class="profile_info_textbox" placeholder="Type in your Business Website here..." value="{{ businessWebsite }}" />

            <label class="profile_info_label">Notifications</label>
            <input type="checkbox" ng-model="emailNotifications" ng-change="subscribe()">
                <label class="checkbox_label" checked>Send me email when Chief Koala has any cool updates</label>
            </input>

            <!--<label class="profile_info_label">Location</label>
            <input type="text" class="profile_info_textbox" value="Boston, MA" />

            <label class="profile_info_label">Job Title</label>
            <input type="text" class="profile_info_textbox profile_info_textbox_empty" placeholder="Type in your job title here..." />

            <label class="profile_info_label">Account Created</label>
            <label class="profile_info_label">{{ accountCreationDate }}</label>-->
        </div>

        <div class="profile_info_col">
            <label class="profile_info_label">Username</label>
            <input type="text" class="profile_info_textbox" value="{{ userName }}" />

            <label class="profile_info_label">Password</label>
            <input type="password" class="profile_info_textbox" placeholder="•••••••••••••••••••••" ng-model="updatedPassword" />

            <a class="text_button" href="/" ng-click="changePassword()">Change Password</a>

            <label class="profile_info_label"></label><label class="profile_info_label"></label>
            <input type="text" class="profile_info_textbox" value="" disabled="disabled"/>

            <label class="profile_info_label">Allow Anonymous Messages</label>
            <input type="checkbox" ng-model="allowAnonMessages" ng-change="allowAnonymous()">
                <label class="checkbox_label">Your site visitors can message you without giving their email</label>
            </input>

        </div>

        <div class="profile_info_col">
            <label class="profile_info_label">Connect Your Social Profiles</label>
            <button class="btn_social_profile" ng-click="connectFacebook()" ng-disabled="fbConnected.length != 0" ng-model="fb"> <img class="social_button_icon" src="assets/images/facebook_white.svg"/> Facebook {{fb}}</button>
            <button class="btn_social_profile" ng-click="connectGooglePlus()" ng-disabled="googlePlusConnected.length != 0"> <img class="social_button_icon" src="assets/images/google_plus_colored.svg"/> Google {{gp}}</button>
            <!--<button class="btn_social_profile"> <img class="social_button_icon" src="assets/images/twitter_white.svg" /> Twitter</button>-->
            <!--<button class="btn_social_profile"> <img class="social_button_icon" src="assets/images/instagram_white.svg" /> Instagram</button>-->
            <br><br><br><br><br><br><br>
            <label class="profile_info_label">Enable / Diable Plugin</label>
            <input type="checkbox" ng-model="enablePlugin" ng-change="togglePlugin()">
                <label class="checkbox_label">Enable or Diable KoalaChat plugin on your site</label>
            </input>
        </div>
    </div>
</div>
