<topnav></topnav>

<div ng-controller="navbarController">
    <div class="sidebar" sidebar-directive="state">
        <ul class="navigation">
            <li class="navigation-items list-header"> Leads </li>
            <li class="navigation-items ng-class:{'navigation-items-active':leadsFilter === 'all'};"> <a href="" ng-click="loadLeads('all')"> <!--<img src="/assets/images/allcontacts.svg"/>--> All</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':leadsFilter === 'live'};"> <a href="" ng-click="loadLeads('live')"> <!--<img src="/assets/images/livevisitors.svg"/>--> Live</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':leadsFilter === 'recent'};"> <a href="" ng-click="loadLeads('recent')"> <!--<img src="/assets/images/mostrecent.svg"/>--> Recent</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':leadsFilter === 'blacklisted'};"> <a href="" ng-click="loadLeads('known')"> <!--<img src="/assets/images/blacklisted.svg"/>--> Known</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':leadsFilter === 'anonymous'};"> <a href="" ng-click="loadLeads('anonymous')"> <!--<img src="/assets/images/anonymous.svg"/>--> Anonymous</a> </li>
        </ul>
    </div>
</div>

<div class="search_contacts">
    <img src="assets/images/search_circle.svg" alt="">
    <span class="main_box_search"> Search Leads</span>
</div>

<div class="contacts_list"  ng-init="loadLeads('all')">
    <table class="contacts_table">
        <tr>
            <th class="contact_pic"></th>
            <th class="contact_name">Email</th>
            <th class="contact_first_seen">First Seen</th>
            <th class="contact_last_seen">Last Seen</th>
            <th class="contact_visits">Visits</th>
            <th class="contact_bounced_in">Bounced In</th>
            <th class="contact_score">Score</th>
            <th class="contact_location"></th>
        </tr>
        <tr class="contact_details" ng-repeat="lead in leads | filter:searchBox" ng-mouseenter="showDelete=true" ng-mouseleave="showDelete=false">
            <td class="contact_pic"> <!--<img class="visitor_profile_pic" src="assets/images/avatar.png" alt="">--> </td>
            <td class="contact_name"> {{ lead.email }} </td>
            <td class="contact_first_seen" style="text-transform: capitalize;"> <time am-time-ago="lead.visitedAt"></time> </td>
            <td class="contact_last_seen" style="text-transform: capitalize;"> <time am-time-ago="lead.lastSeen"></time> </td>
            <td class="contact_visits"> {{ lead.totalNumberOfVisits }} </td>
            <td class="contact_bounced_in" style="text-transform: capitalize;"> {{ lead.lastVisitDuration | amDurationFormat : 'minute' }} </td>
            <td class="contact_score"> {{ lead.score }} </td>
            <td class="contact_location">
                <a class="delete_faq" ng-show="showDelete" ng-click="deleteOrBlacklistLead(lead, 'archivevisitor')" style="float:left;"> 
                    <img src="assets/images/recycling-bin-solid.svg" alt="">
                </a>

                <a class="delete_faq" ng-show="showDelete" ng-click="deleteOrBlacklistLead(lead, 'blacklistvisitor')" style="float:left;margin-left:20px;"> 
                    <img src="assets/images/block-solid.svg" alt="">
                </a>
            </td>
        </tr>
    </table>
</div>
