<topnav></topnav>

<div ng-controller="navbarController">
    <div class="sidebar" sidebar-directive="state">
        <ul class="navigation">
            <li class="navigation-items list-header"> Leads </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Contacts')};"> <a href="/Contacts"> <img src="/assets/images/allcontacts.svg"/> All Leads</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Contacts/Live')};"> <a href="/Contacts/Live"> <img src="/assets/images/livevisitors.svg"/> Live Visitors</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Contacts/Recent')};"> <a href="/Contacts/Recent"> <img src="/assets/images/mostrecent.svg"/> Most Recent</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Contacts/Anonymous')};"> <a href="/Contacts/Anonymous"> <img src="/assets/images/anonymous.svg"/> Anonymous</a> </li>
            <li class="navigation-items ng-class:{'navigation-items-active':isActive('/Contacts/Blacklisted')};"> <a href="/Contacts/Blacklisted"> <img src="/assets/images/blacklisted.svg"/> Blacklisted</a> </li>
            <li class="navigation-items"> <a href=""> <img src="/assets/images/help.svg"/>Help Me Pweez!</a> </li>
        </ul>
    </div>
</div>

<div class="search_contacts">
    <img src="assets/images/search_circle.svg" alt="">
    <span class="main_box_search"> Search Leads</span>
</div>

<div class="contacts_list">
    <table class="contacts_table">
        <tr>
            <th class="contact_pic"></th>
            <th class="contact_name">Email</th>
            <th class="contact_first_seen">First Seen</th>
            <th class="contact_last_seen">Last Seen</th>
            <th class="contact_visits">Visits</th>
            <th class="contact_location">Location</th>
            <th class="contact_bounced_in">Bounced In</th>
            <th class="contact_score">Score</th>
        </tr>
        <tr class="contact_details" ng-repeat="lead in leads track by $index">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name" ng-model="lead.email">Matt Tompson</td>
            <td class="contact_first_seen" ng-model="lead.firstseen">12:31 pm</td>
            <td class="contact_last_seen" ng-model="lead.lastseen">12:31 pm</td>
            <td class="contact_visits" ng-model="lead.visits">3</td>
            <td class="contact_location" ng-model="lead.location">Boston, MA</td>
            <td class="contact_bounced_in" ng-model="lead.bouncetime">2 mins, 31 Secs</td>
            <td class="contact_score" ng-model="lead.score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>

        <tr class="contact_details">
            <td class="contact_pic"> <img class="visitor_profile_pic" src="assets/images/avatar.png" alt=""> </td>
            <td class="contact_name">matt.tompson@gmail.com</td>
            <td class="contact_first_seen">12:31 pm</td>
            <td class="contact_last_seen">12:31 pm</td>
            <td class="contact_visits">3</td>
            <td class="contact_location">Boston, MA</td>
            <td class="contact_bounced_in">2 mins, 31 Secs</td>
            <td class="contact_score">900</td>
        </tr>
    </table>
</div>
