<nav class="navbar navbar-default">
    <div class="container topnav">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/"> <img src="/assets/images/logo.svg"/> </a>
        </div>

        <div class="navbar-header nav-item">
            <p class="navbar-brand">Let's Get Going My Precious Baby Koala!</p>
        </div>

        <div class="navbar-header profile">
            <a class="navbar-brand name" href="/Profile"> Anonymous Koala 
                <img class="image" src="/assets/images/avatar.png"/>
                <img class="down-arrow" src="/assets/images/down-triangle.svg"/>
            </a>
        </div>

        <div class="navbar-header search">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/search.svg"/> </a>
        </div>
    </div>
</nav>