<nav class="navbar navbar-default">
    <div class="container topnav">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/"> <img src="/assets/images/logo.svg"/> </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/notification.svg"/> </a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/">Measure</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/Messages/Inbox">Inbox</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/Contacts">Contacts</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/KoalaBot/FAQs">KoalaBot</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/Apps">Apps</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand" href="/GrowthHacks">Growth Hacks</a>
        </div>

        <div class="navbar-header profile">
            <a class="navbar-brand name" href="/Profile"> Christina Smith 
                <img class="image" src="/assets/images/avatar.png"/>
                <img class="down-arrow" src="/assets/images/down-triangle.svg"/>
            </a>
        </div>

        <div class="navbar-header search">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/search.svg"/> </a>
        </div>
    </div>
</nav>