<nav ng-controller="topnavController" class="navbar navbar-default">

    <!-- TODO -->
    <!-- 1. Create a notofication center -->
    <!-- 2. Create dropdown for profile icon-->
    <!-- 3. Create Leads page with right APIs-->

    <div class="container topnav">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/"> <img src="/assets/images/logo.svg"/> </a>
        </div>

        <!--<div class="navbar-header">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/notification.svg"/> </a>
        </div>-->

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Overview')};" href="/Overview">Overview</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Messages')};" href="/Messages/Inbox">Inbox</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Contacts')};" href="/Contacts">Leads</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/KoalaBot')};" href="/KoalaBot/FAQs">KoalaBot</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Apps')};" href="/Apps">Apps</a>
        </div>

        <!--<div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/GrowthHacks')};" href="/GrowthHacks">Growth Hacks</a>
        </div>-->

        <div class="navbar-header profile">
            <a class="navbar-brand name" ng-click="isDropdownOpen = !isDropdownOpen"> 
                <div class="image pic_avatar" style="background-image:url({{ profilepic }})"></div>
                {{ ownername }} 
                <img class="down-arrow" src="/assets/images/down-triangle.svg"/>
            </a>
            <div ng-show="isDropdownOpen" class="dropdown">
                <a href="/Profile">My Profile</a>
                <a href="/KoalaBot/FAQs">FAQs</a>
                <a href="" ng-click="logout()">Logout</a>
                <div id="dropdown-triangle-up"></div>
            </div>
        </div>

        <!--<div class="navbar-header search">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/search.svg"/> </a>
        </div>-->
    </div>
</nav>
