<nav ng-controller="topnavController" class="navbar navbar-default">
    <div class="container topnav">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/"> <img src="/assets/images/logo.svg"/> </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/notification.svg"/> </a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Overview')};" href="/Overview">Overview</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Messages/Inbox')};" href="/Messages/Inbox">Inbox</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Contacts')};" href="/Contacts">Leads</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/KoalaBot/FAQs')};" href="/KoalaBot/FAQs">KoalaBot</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/Apps')};" href="/Apps">Apps</a>
        </div>

        <div class="navbar-header nav-item">
            <a class="navbar-brand ng-class:{'nav-item-active':isActive('/GrowthHacks')};" href="/GrowthHacks">Growth Hacks</a>
        </div>

        <div class="navbar-header profile">
            <a class="navbar-brand name ng-class:{'nav-item-active':isActive('/Profile')};" href="/Profile"> {{ ownername }} 
                <img class="image pic_avatar" src="{{ profilepic }}"/>
                <img class="down-arrow" src="/assets/images/down-triangle.svg"/>
            </a>
        </div>

        <div class="navbar-header search">
            <a class="navbar-brand notification" href="/"> <img src="/assets/images/search.svg"/> </a>
        </div>
    </div>
</nav>